<header>
    <nav class="border fixed split-nav">
        <div class="nav-brand">
          <h3><a href="#">Mes citations</a></h3>
        </div>
        <div class="collapsible">
          <input id="collapsible1" type="checkbox" name="collapsible1">
          <label for="collapsible1">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </label>
          <div class="collapsible-body">
            <ul class="inline">
              <li><a routerLink="/">Accueil</a></li>
              <li><a routerLink="citation">Liste Citations</a></li>
              <li><a routerLink="add">Ajouter</a></li>
              <li><a routerLink="addReact"> Ajouter reactive</a></li>
            </ul>
          </div>
        </div>
      </nav>
</header>
