<div class="" style="margin-top:5em">
    <div class="row flex-spaces child-borders">
        <div class="col-3 col"><img src="https://unsplash.it/900" alt="Random Unsplash"></div>
        <div class="col-3 col"><img src="https://unsplash.it/900" alt="Random Unsplash"></div>
        <div class="col-3 col"><img src="https://unsplash.it/900" alt="Random Unsplash"></div>
      </div>
    
</div>

<article class="article">
  <input type="text" [(ngModel)] = "titre">
    <h1 class="article-title text-center"><a href=""> {{ titre}}</a></h1>
    <p class="article-meta text-center">Promo 8 HB <a href="#">Rama</a></p>
    <p class="text-lead text-center"> On essaie d'être des pros </p>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio harum cumque autem ad! Facere quas nihil, voluptas at eligendi voluptatibus animi blanditiis veritatis porro dolorum! Quasi quae repudiandae doloremque saepe.
    Iure accusamus sapiente voluptatibus minima unde cupiditate quo libero repellat accusantium esse, similique officiis, porro quod? Dignissimos laboriosam quia, ut beatae veniam vitae. Consequuntur corporis nemo saepe dolorem quod pariatur.
    Ad sed, nam deserunt repellendus aperiam consequuntur sapiente eum soluta, architecto dicta unde at officiis suscipit sint voluptates qui voluptatum ipsum doloremque ut. Maxime hic eligendi, corporis eius sint fugiat?
    Doloribus perferendis debitis nulla autem cumque ipsam fugit! Dolorum praesentium molestiae accusamus voluptatem ut voluptas porro, molestias et explicabo expedita blanditiis ipsum in animi? Hic non quod aliquid dolore repudiandae!
    Consectetur minima vitae soluta impedit ab, adipisci fugiat explicabo eos voluptates dolorem velit perspiciatis quisquam nobis accusantium laborum, et necessitatibus sequi suscipit. Consequatur non sunt tempore beatae eligendi dolor maxime.
    Magni, eum non cum quam velit exercitationem laboriosam itaque ex tempora sint iste maiores ad, esse a dolore soluta. Culpa animi adipisci pariatur odit placeat consequuntur aliquam autem dignissimos illo.
    Reprehenderit quidem, placeat nemo cum fuga, pariatur nulla molestiae, id quos rem ut sunt nam incidunt ratione dolore quod earum! Et perspiciatis voluptates iste consectetur repellat libero rem eaque! Assumenda?
    Odit nihil amet praesentium ipsam corrupti magnam, eveniet molestiae a cumque, officia voluptates officiis laboriosam inventore delectus debitis saepe aliquam fuga fugit molestias architecto quidem. Laudantium quam perferendis ea at.
    At eos fuga perspiciatis obcaecati. Nostrum nisi atque, non ad vero quas quod, aliquam iure nihil ex molestiae placeat laudantium odit commodi at dolorum praesentium saepe recusandae consequuntur blanditiis voluptatibus?
    Quia nostrum eaque veniam assumenda architecto asperiores eos illo, id fugit praesentium doloremque quae ratione quas cum laboriosam aspernatur nobis libero, vel dolore reprehenderit, alias ut? Dicta dignissimos nulla totam? </p>
  
    <div class="row">
      <button>Read More</button>
      <button>5 Comments</button>
    </div>
  </article>
